.user-component{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar{
  margin-right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 25px;
  object-fit: cover;
}
.user-component__avatar--xl{
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm{
  width: 60px;
  height: 60px;
  border-radius: 23px;
}
.user-component__title {
  font-size: 20px;
  font-weight: 600;
}
.user-component__subtitle{
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
.user-component__mail{
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.friends-screen__channel{
  margin-top: 25px;
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
}
.friends-screen__channel-header{
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}